# Config file for automatic testing at travis-ci.org
dist: xenial
language: python
cache: pip
sudo: false

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install tox-travis coveralls

script:
  - tox

after_success: coveralls
