# Install all the requirements needed for testing, documentation, and running
# the example project in one fell swoop.

-r tests/requirements.txt
-r example_project/requirements.txt
-r docs/requirements.txt
twine==1.10.0
wheel==0.30.0
